<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440426391131-8qr4d5hcnid9chgjamf2r3tqp5mib1c4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440426391131-8qr4d5hcnid9chgjamf2r3tqp5mib1c4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>440426391131-1165gn21e7c6j9kcoamojebhpqkqp4vg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD2ypT2tUyjUTea7yZTVgEISqunEP9rkW8</string>
	<key>GCM_SENDER_ID</key>
	<string>440426391131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rently.connect</string>
	<key>PROJECT_ID</key>
	<string>moon-landing-a8bee</string>
	<key>STORAGE_BUCKET</key>
	<string>moon-landing-a8bee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440426391131:ios:710d5f00fe35f5af7e817e</string>
	<key>DATABASE_URL</key>
	<string>https://moon-landing-a8bee-default-rtdb.firebaseio.com</string>
</dict>
</plist>