<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424142363398-ifs7alfa2e652gbe448mjmjl8okmljf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424142363398-ifs7alfa2e652gbe448mjmjl8okmljf3</string>
	<key>API_KEY</key>
	<string>AIzaSyBEw1JjkuCC2Zr7bSZzlfW5xqH7MwFWKPc</string>
	<key>GCM_SENDER_ID</key>
	<string>424142363398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rently.connect</string>
	<key>PROJECT_ID</key>
	<string>rently-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>rently-connect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424142363398:ios:0de307fa5d9a1c42415c87</string>
</dict>
</plist>